.flagLink {
  width: 7rem;
  margin-bottom: 0.3rem;
}

.flx-clm {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: 2px solid black;
  padding: 3rem;
  font-weight: 600;
  text-align: center;
}

#countryDetails {
  width: 15rem;
}

/* .flx-item {
  display: flex;
  justify-content: center;
  width: 8rem;
  text-align: center;
  
  font-size: 1.2rem;
} */
